# Node modules
node_modules/

# Environment files
.env
.env.*
src/.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docker-related
Dockerfile.dev
docker-compose.override.yml

# OS/system files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Optional: build artifacts
dist/
build/
